h1{
    color: red;   
}

#heading-2{
    color:aqua;
}
.heading{
    color:chocolate;
}
.para{
    border:2px;
    border-color:black;
    border-style:solid;
    padding: 5px;
    text-align: center;
}